<div class="container card-header center vertical-center" style="background-color: white; margin-left: 150px">
  <div class="card-body">
    <a class="btn btn-danger btn-lg btn-block btn-huge" routerLink="/teachers">Form 1</a>

  </div>
  <div class="card-body">
    <a class="btn btn-primary btn-lg btn-block btn-huge" style="background-color:green;" routerLink="/teachers">Form 2</a>

  </div>
  <div class="card-body">
    <a class="btn btn-primary btn-lg btn-block btn-huge" style="background-color:orange;" routerLink="/teachers">Form 3</a>

  </div>
  <div class="card-body">
    <a class="btn btn-primary btn-lg btn-block btn-huge" style="background-color:purple;" routerLink="/teachers">Form 4</a>

  </div>
</div>
